(
    surfaces: [
        Main((
            nodes: [
                Horizontal((
                    rect: (
                        min: (
                            x: 0.0,
                            y: 24.0,
                        ),
                        max: (
                            x: 2560.0,
                            y: 1369.0,
                        ),
                    ),
                    fraction: 0.6824223,
                    fully_collapsed: false,
                    collapsed_leaf_count: 0,
                )),
                Vertical((
                    rect: (
                        min: (
                            x: 0.0,
                            y: 24.0,
                        ),
                        max: (
                            x: 1746.0,
                            y: 1369.0,
                        ),
                    ),
                    fraction: 0.5007427,
                    fully_collapsed: false,
                    collapsed_leaf_count: 0,
                )),
                Vertical((
                    rect: (
                        min: (
                            x: 1748.0,
                            y: 24.0,
                        ),
                        max: (
                            x: 2560.0,
                            y: 1369.0,
                        ),
                    ),
                    fraction: 0.5,
                    fully_collapsed: false,
                    collapsed_leaf_count: 0,
                )),
                Leaf((
                    rect: (
                        min: (
                            x: 0.0,
                            y: 24.0,
                        ),
                        max: (
                            x: 1746.0,
                            y: 696.0,
                        ),
                    ),
                    viewport: (
                        min: (
                            x: 0.0,
                            y: 48.0,
                        ),
                        max: (
                            x: 1746.0,
                            y: 696.0,
                        ),
                    ),
                    tabs: [
                        Viewport,
                    ],
                    active: (0),
                    scroll: 0.0,
                    collapsed: false,
                )),
                Leaf((
                    rect: (
                        min: (
                            x: 0.0,
                            y: 698.0,
                        ),
                        max: (
                            x: 1746.0,
                            y: 1369.0,
                        ),
                    ),
                    viewport: (
                        min: (
                            x: 0.0,
                            y: 722.0,
                        ),
                        max: (
                            x: 1746.0,
                            y: 1369.0,
                        ),
                    ),
                    tabs: [
                        AssetBrowser,
                        Console,
                        Profiler,
                    ],
                    active: (2),
                    scroll: 0.0,
                    collapsed: false,
                )),
                Leaf((
                    rect: (
                        min: (
                            x: 1748.0,
                            y: 24.0,
                        ),
                        max: (
                            x: 2560.0,
                            y: 696.0,
                        ),
                    ),
                    viewport: (
                        min: (
                            x: 1748.0,
                            y: 48.0,
                        ),
                        max: (
                            x: 2560.0,
                            y: 696.0,
                        ),
                    ),
                    tabs: [
                        Hierarchy,
                    ],
                    active: (0),
                    scroll: 0.0,
                    collapsed: false,
                )),
                Leaf((
                    rect: (
                        min: (
                            x: 1748.0,
                            y: 698.0,
                        ),
                        max: (
                            x: 2560.0,
                            y: 1369.0,
                        ),
                    ),
                    viewport: (
                        min: (
                            x: 1748.0,
                            y: 722.0,
                        ),
                        max: (
                            x: 2560.0,
                            y: 1369.0,
                        ),
                    ),
                    tabs: [
                        Inspector,
                    ],
                    active: (0),
                    scroll: 0.0,
                    collapsed: false,
                )),
                Empty,
                Empty,
                Empty,
                Empty,
                Empty,
                Empty,
                Empty,
                Empty,
            ],
            focused_node: Some((4)),
            collapsed: false,
            collapsed_leaf_count: 0,
        )),
    ],
    focused_surface: Some((0)),
    translations: (
        tab_context_menu: (
            close_button: "Close",
            eject_button: "Eject",
        ),
        leaf: (
            close_button_disabled_tooltip: "This leaf contains non-closable tabs.",
            close_all_button: "Close window",
            close_all_button_menu_hint: "Right click to close this window.",
            close_all_button_modifier_hint: "Press modifier keys (Shift by default) to close this window.",
            close_all_button_modifier_menu_hint: "Press modifier keys (Shift by default) or right click to close this window.",
            close_all_button_disabled_tooltip: "This window contains non-closable tabs.",
            minimize_button: "Minimize window",
            minimize_button_menu_hint: "Right click to minimize this window.",
            minimize_button_modifier_hint: "Press modifier keys (Shift by default) to minimize this window.",
            minimize_button_modifier_menu_hint: "Press modifier keys (Shift by default) or right click to minimize this window.",
        ),
    ),
)