(
    tree: Split((
        direction: Horizontal,
        ratio: 0.6136719,
        first: Split((
            direction: Vertical,
            ratio: 0.6270023,
            first: Leaf((
                tabs: [
                    "viewport:0",
                ],
                active: 0,
                tabs_hidden: false,
            )),
            second: Leaf((
                tabs: [
                    "assets",
                    "console",
                    "profiler",
                ],
                active: 0,
                tabs_hidden: false,
            )),
        )),
        second: Split((
            direction: Vertical,
            ratio: 0.5,
            first: Leaf((
                tabs: [
                    "hierarchy",
                ],
                active: 0,
                tabs_hidden: false,
            )),
            second: Leaf((
                tabs: [
                    "inspector",
                ],
                active: 0,
                tabs_hidden: false,
            )),
        )),
    )),
    state: (
        focused_tab: Some("hierarchy"),
    ),
    play_settings: (
        mode: ListenServer,
        host: "http://127.0.0.1:3000",
        module: "rust-engine-dev",
        player_count: 2,
    ),
)