(
    surfaces: [
        Main((
            nodes: [
                Horizontal((
                    rect: (
                        min: (
                            x: 0.0,
                            y: 24.0,
                        ),
                        max: (
                            x: 2560.0,
                            y: 1369.0,
                        ),
                    ),
                    fraction: 0.46067768,
                    fully_collapsed: false,
                    collapsed_leaf_count: 0,
                )),
                Vertical((
                    rect: (
                        min: (
                            x: 0.0,
                            y: 24.0,
                        ),
                        max: (
                            x: 1178.0,
                            y: 1369.0,
                        ),
                    ),
                    fraction: 0.53420085,
                    fully_collapsed: false,
                    collapsed_leaf_count: 0,
                )),
                Vertical((
                    rect: (
                        min: (
                            x: 1180.0,
                            y: 24.0,
                        ),
                        max: (
                            x: 2560.0,
                            y: 1369.0,
                        ),
                    ),
                    fraction: 0.21449906,
                    fully_collapsed: false,
                    collapsed_leaf_count: 0,
                )),
                Leaf((
                    rect: (
                        min: (
                            x: 0.0,
                            y: 24.0,
                        ),
                        max: (
                            x: 1178.0,
                            y: 742.0,
                        ),
                    ),
                    viewport: (
                        min: (
                            x: 0.0,
                            y: 48.0,
                        ),
                        max: (
                            x: 1178.0,
                            y: 742.0,
                        ),
                    ),
                    tabs: [
                        Viewport,
                    ],
                    active: (0),
                    scroll: 0.0,
                    collapsed: false,
                )),
                Leaf((
                    rect: (
                        min: (
                            x: 0.0,
                            y: 744.0,
                        ),
                        max: (
                            x: 1178.0,
                            y: 1369.0,
                        ),
                    ),
                    viewport: (
                        min: (
                            x: 0.0,
                            y: 768.0,
                        ),
                        max: (
                            x: 1178.0,
                            y: 1369.0,
                        ),
                    ),
                    tabs: [
                        Profiler,
                        AssetBrowser,
                        Console,
                    ],
                    active: (1),
                    scroll: 0.0,
                    collapsed: false,
                )),
                Leaf((
                    rect: (
                        min: (
                            x: 1180.0,
                            y: 24.0,
                        ),
                        max: (
                            x: 2560.0,
                            y: 312.0,
                        ),
                    ),
                    viewport: (
                        min: (
                            x: 1180.0,
                            y: 48.0,
                        ),
                        max: (
                            x: 2560.0,
                            y: 312.0,
                        ),
                    ),
                    tabs: [
                        Hierarchy,
                    ],
                    active: (0),
                    scroll: 0.0,
                    collapsed: false,
                )),
                Leaf((
                    rect: (
                        min: (
                            x: 1180.0,
                            y: 314.0,
                        ),
                        max: (
                            x: 2560.0,
                            y: 1369.0,
                        ),
                    ),
                    viewport: (
                        min: (
                            x: 1180.0,
                            y: 338.0,
                        ),
                        max: (
                            x: 2560.0,
                            y: 1369.0,
                        ),
                    ),
                    tabs: [
                        Inspector,
                    ],
                    active: (0),
                    scroll: 0.0,
                    collapsed: false,
                )),
            ],
            focused_node: Some((6)),
            collapsed: false,
            collapsed_leaf_count: 0,
        )),
        Empty,
    ],
    focused_surface: Some((0)),
    translations: (
        tab_context_menu: (
            close_button: "Close",
            eject_button: "Eject",
        ),
        leaf: (
            close_button_disabled_tooltip: "This leaf contains non-closable tabs.",
            close_all_button: "Close window",
            close_all_button_menu_hint: "Right click to close this window.",
            close_all_button_modifier_hint: "Press modifier keys (Shift by default) to close this window.",
            close_all_button_modifier_menu_hint: "Press modifier keys (Shift by default) or right click to close this window.",
            close_all_button_disabled_tooltip: "This window contains non-closable tabs.",
            minimize_button: "Minimize window",
            minimize_button_menu_hint: "Right click to minimize this window.",
            minimize_button_modifier_hint: "Press modifier keys (Shift by default) to minimize this window.",
            minimize_button_modifier_menu_hint: "Press modifier keys (Shift by default) or right click to minimize this window.",
        ),
    ),
)