(
    source: "E:\\Programs\\cyrus-app\\.cyrus\\worktrees\\CRU-9\\content\\Defeated.fbx",
    settings: (
        scale: 0.01,
        generate_tangents: true,
        import_materials: true,
        flip_uvs: false,
        up_axis: YUp,
        import_animations: true,
    ),
    source_hash: 369653710,
    material_slots: [
        (
            name: "Beta_HighLimbsGeoSG3",
            material_path: "Defeated_Beta_HighLimbsGeoSG3.material.ron",
        ),
        (
            name: "Beta_Joints_MAT1",
            material_path: "Defeated_Beta_Joints_MAT1.material.ron",
        ),
    ],
)