(
    scene: "main",
    format_version: 1,
    cooker_hash: 1,
    scene_hash: 6294982806288077274,
    chunk_size: 64.0,
    chunks: [
        (
            coord: (-1, -1),
            content_hash: 7053039451944603948,
        ),
        (
            coord: (-1, 0),
            content_hash: 13639498481882209000,
        ),
    ],
)