(
    version: "1.0",
    name: "Main Scene",
    entities: [
        (
            name: "FallingCube2",
            guid: Some("cc7ab692-1c6d-4275-b03e-5a0134cf446f"),
            components: [
                (
                    type: "Transform",
                    position: (1.5021949, -2.4843187, 1.7087239),
                    rotation: (0.63926286, 0.30222863, 0.30223024, 0.63926345),
                    scale: (0.4, 0.4, 0.4),
                ),
                (
                    type: "MeshRenderer",
                    mesh_path: "",
                    material_paths: [
                        "",
                    ],
                    mesh_index: 2,
                    material_index: 0,
                    visible: true,
                    cast_shadows: true,
                    receive_shadows: true,
                ),
            ],
        ),
        (
            name: "BouncyBox",
            guid: Some("9c935f76-fb36-487f-a4c6-26de24d740d1"),
            components: [
                (
                    type: "Transform",
                    position: (1.0984617, -1.8919693, 1.0),
                    rotation: (-0.3362995, -0.29328078, -0.6679992, -0.59553844),
                    scale: (0.6, 0.6, 0.6),
                ),
                (
                    type: "MeshRenderer",
                    mesh_path: "",
                    material_paths: [
                        "",
                    ],
                    mesh_index: 2,
                    material_index: 0,
                    visible: true,
                    cast_shadows: true,
                    receive_shadows: true,
                ),
                (
                    type: "RigidBody",
                    body_type: "Dynamic",
                    mass: 1.0,
                    linear_damping: 0.05,
                    angular_damping: 0.05,
                    can_sleep: true,
                    gravity_scale: 1.0,
                    lock_rotation: (false, false, false),
                    continuous_collision: false,
                ),
                (
                    type: "Collider",
                    shape: {
                        "type": "Cuboid",
                        "half_extents": (0.5, 0.2, 0.5),
                    },
                    friction: 0.5,
                    restitution: 0.28,
                    is_sensor: true,
                ),
            ],
        ),
        (
            name: "FallingCube1",
            guid: Some("91c0ba21-8a8e-46ed-9cda-52b915d62f35"),
            components: [
                (
                    type: "Transform",
                    position: (0.0, 0.0, 1.0),
                    rotation: (-0.0000022161742, 0.9997926, -0.00000022044154, 0.020366704),
                    scale: (0.5, 0.5, 0.5),
                ),
                (
                    type: "MeshRenderer",
                    mesh_path: "",
                    material_paths: [
                        "",
                    ],
                    mesh_index: 2,
                    material_index: 0,
                    visible: true,
                    cast_shadows: true,
                    receive_shadows: true,
                ),
            ],
        ),
        (
            name: "Sun",
            guid: Some("06596418-42e4-4e5e-a4f7-d173e251d7ba"),
            components: [
                (
                    type: "DirectionalLight",
                    direction: (0.0, -0.7071068, -0.7071068),
                    color: (1.0, 1.0, 1.0),
                    intensity: 1.0,
                    shadow_enabled: false,
                    shadow_bias: 0.005,
                ),
            ],
        ),
        (
            name: "Duck",
            guid: Some("a9849718-7c87-4d02-a683-cde273c0b3b7"),
            components: [
                (
                    type: "Transform",
                    position: (0.080367684, 0.0000000070260198, 3.2209096),
                    rotation: (0.0, 0.0, 0.0, 1.0),
                    scale: (0.01, 0.01, 0.01),
                ),
                (
                    type: "MeshRenderer",
                    mesh_path: "",
                    material_paths: [],
                    mesh_index: 0,
                    material_index: 0,
                    visible: true,
                    cast_shadows: false,
                    receive_shadows: false,
                ),
            ],
        ),
        (
            name: "Camera",
            guid: Some("51f90723-b74e-4034-8dfb-9af7a42b534e"),
            components: [
                (
                    type: "Transform",
                    position: (-9.015558, -0.29880303, 6.527375),
                    rotation: (0.0, 0.2659691, 0.0, 0.96398157),
                    scale: (1.0, 1.0, 1.0),
                ),
                (
                    type: "Camera",
                    fov: 60.0,
                    near: 0.1,
                    far: 1000.0,
                    active: true,
                    projection: "Perspective",
                    clear_color: (0.10000002, 0.1, 0.15),
                    priority: 0,
                ),
            ],
        ),
        (
            name: "Ground",
            guid: Some("11f28afb-1e12-4058-9697-65dfe1af2fc1"),
            components: [
                (
                    type: "Transform",
                    position: (0.0, 0.0, 0.0),
                    rotation: (0.0, 0.0, 0.0, 1.0),
                    scale: (10.0, 10.0, 1.0),
                ),
                (
                    type: "MeshRenderer",
                    mesh_path: "",
                    material_paths: [
                        "",
                    ],
                    mesh_index: 1,
                    material_index: 0,
                    visible: true,
                    cast_shadows: true,
                    receive_shadows: true,
                ),
                (
                    type: "AudioEmitter",
                    clip_path: "sounds\\gold.mp3",
                    bus: "SFX",
                    volume_db: 12.0,
                    pitch: 1.0,
                    looping: false,
                    auto_play: true,
                    spatial: true,
                    max_distance: 15.0,
                ),
            ],
        ),
    ],
)