(
    version: 1,
    scene: "scenes/greybox.scene",
    cell_size: 64.0,
    controller_ref: (
        slope_limit_deg: 45.0,
        step_height: 0.4,
        jump_gap: 3.0,
    ),
    cells: [
        (
            coord: (-4, -4),
            zone_id: 0,
            root_entity_guid: "2d1c838a-8f99-482d-8962-d4ac8b9995cd",
            mesh: "models/greybox/cell_-4_-4.mesh",
            collision_chunk: "collision/greybox/-4_-4.ccol",
        ),
        (
            coord: (-3, -4),
            zone_id: 0,
            root_entity_guid: "77edaf2a-1941-4d21-8205-4c35d1c36f9e",
            mesh: "models/greybox/cell_-3_-4.mesh",
            collision_chunk: "collision/greybox/-3_-4.ccol",
        ),
        (
            coord: (-2, -4),
            zone_id: 0,
            root_entity_guid: "525e3118-1822-49d7-8d0f-fed2b08d9523",
            mesh: "models/greybox/cell_-2_-4.mesh",
            collision_chunk: "collision/greybox/-2_-4.ccol",
        ),
        (
            coord: (-1, -4),
            zone_id: 0,
            root_entity_guid: "88884066-34d8-4ee9-a97f-95e402fec568",
            mesh: "models/greybox/cell_-1_-4.mesh",
            collision_chunk: "collision/greybox/-1_-4.ccol",
        ),
        (
            coord: (0, -4),
            zone_id: 1,
            root_entity_guid: "34e03f73-7923-4119-89eb-364073ff3f69",
            mesh: "models/greybox/cell_0_-4.mesh",
            collision_chunk: "collision/greybox/0_-4.ccol",
        ),
        (
            coord: (1, -4),
            zone_id: 1,
            root_entity_guid: "63c4cc1c-cbd2-43e2-81ab-dc5a6e25000f",
            mesh: "models/greybox/cell_1_-4.mesh",
            collision_chunk: "collision/greybox/1_-4.ccol",
        ),
        (
            coord: (2, -4),
            zone_id: 1,
            root_entity_guid: "c3697c82-4214-4827-a438-d0b7b6587025",
            mesh: "models/greybox/cell_2_-4.mesh",
            collision_chunk: "collision/greybox/2_-4.ccol",
        ),
        (
            coord: (3, -4),
            zone_id: 1,
            root_entity_guid: "c63a5524-9066-4caf-a6ab-1b3067c0a1d7",
            mesh: "models/greybox/cell_3_-4.mesh",
            collision_chunk: "collision/greybox/3_-4.ccol",
        ),
        (
            coord: (-4, -3),
            zone_id: 0,
            root_entity_guid: "6f46ad9a-5342-453c-a030-0051a0a08e4c",
            mesh: "models/greybox/cell_-4_-3.mesh",
            collision_chunk: "collision/greybox/-4_-3.ccol",
        ),
        (
            coord: (-3, -3),
            zone_id: 0,
            root_entity_guid: "24e1300a-4127-466f-8657-b908888cf1db",
            mesh: "models/greybox/cell_-3_-3.mesh",
            collision_chunk: "collision/greybox/-3_-3.ccol",
        ),
        (
            coord: (-2, -3),
            zone_id: 0,
            root_entity_guid: "6ea55aed-89e1-4213-826e-ceadd56e7914",
            mesh: "models/greybox/cell_-2_-3.mesh",
            collision_chunk: "collision/greybox/-2_-3.ccol",
        ),
        (
            coord: (-1, -3),
            zone_id: 0,
            root_entity_guid: "a3314f59-ab31-4e36-bfe7-b4645aa6f3d4",
            mesh: "models/greybox/cell_-1_-3.mesh",
            collision_chunk: "collision/greybox/-1_-3.ccol",
        ),
        (
            coord: (0, -3),
            zone_id: 1,
            root_entity_guid: "0bbd0efc-969c-4210-b466-9d1e250c4ef6",
            mesh: "models/greybox/cell_0_-3.mesh",
            collision_chunk: "collision/greybox/0_-3.ccol",
        ),
        (
            coord: (1, -3),
            zone_id: 1,
            root_entity_guid: "dbee6c90-36c1-4650-a7e0-4be9a1473ebd",
            mesh: "models/greybox/cell_1_-3.mesh",
            collision_chunk: "collision/greybox/1_-3.ccol",
        ),
        (
            coord: (2, -3),
            zone_id: 1,
            root_entity_guid: "35433217-6caa-48fb-85d0-89056206c365",
            mesh: "models/greybox/cell_2_-3.mesh",
            collision_chunk: "collision/greybox/2_-3.ccol",
        ),
        (
            coord: (3, -3),
            zone_id: 1,
            root_entity_guid: "44814a07-3f4e-4848-a59d-b2eb60c5147e",
            mesh: "models/greybox/cell_3_-3.mesh",
            collision_chunk: "collision/greybox/3_-3.ccol",
        ),
        (
            coord: (-4, -2),
            zone_id: 0,
            root_entity_guid: "2719e6e2-3b29-4881-9380-f717fc9c0aec",
            mesh: "models/greybox/cell_-4_-2.mesh",
            collision_chunk: "collision/greybox/-4_-2.ccol",
        ),
        (
            coord: (-3, -2),
            zone_id: 0,
            root_entity_guid: "a040a7c8-4506-4577-b7e5-8c03e14665f5",
            mesh: "models/greybox/cell_-3_-2.mesh",
            collision_chunk: "collision/greybox/-3_-2.ccol",
        ),
        (
            coord: (-2, -2),
            zone_id: 0,
            root_entity_guid: "979ba386-db7a-4752-9518-75e4d777ad8b",
            mesh: "models/greybox/cell_-2_-2.mesh",
            collision_chunk: "collision/greybox/-2_-2.ccol",
        ),
        (
            coord: (-1, -2),
            zone_id: 0,
            root_entity_guid: "c9c11041-bec6-4880-940e-80bf6f64adda",
            mesh: "models/greybox/cell_-1_-2.mesh",
            collision_chunk: "collision/greybox/-1_-2.ccol",
        ),
        (
            coord: (0, -2),
            zone_id: 1,
            root_entity_guid: "4392da43-1e16-40f9-99f9-e81d0444ac8f",
            mesh: "models/greybox/cell_0_-2.mesh",
            collision_chunk: "collision/greybox/0_-2.ccol",
        ),
        (
            coord: (1, -2),
            zone_id: 1,
            root_entity_guid: "21ad8772-88f9-4cc0-8a37-41119620027a",
            mesh: "models/greybox/cell_1_-2.mesh",
            collision_chunk: "collision/greybox/1_-2.ccol",
        ),
        (
            coord: (2, -2),
            zone_id: 1,
            root_entity_guid: "de8542dd-143f-4fbc-89ea-42d61da8a846",
            mesh: "models/greybox/cell_2_-2.mesh",
            collision_chunk: "collision/greybox/2_-2.ccol",
        ),
        (
            coord: (3, -2),
            zone_id: 1,
            root_entity_guid: "4cf6ad8e-0488-48fb-9e42-013e28d09d04",
            mesh: "models/greybox/cell_3_-2.mesh",
            collision_chunk: "collision/greybox/3_-2.ccol",
        ),
        (
            coord: (-4, -1),
            zone_id: 0,
            root_entity_guid: "03bd45a4-edb0-422c-86b6-c841baff7e79",
            mesh: "models/greybox/cell_-4_-1.mesh",
            collision_chunk: "collision/greybox/-4_-1.ccol",
        ),
        (
            coord: (-3, -1),
            zone_id: 0,
            root_entity_guid: "fc5d8761-423e-4b7e-890c-38b1d6c3da40",
            mesh: "models/greybox/cell_-3_-1.mesh",
            collision_chunk: "collision/greybox/-3_-1.ccol",
        ),
        (
            coord: (-2, -1),
            zone_id: 0,
            root_entity_guid: "bd098801-0897-42eb-b77f-7c98487bb81e",
            mesh: "models/greybox/cell_-2_-1.mesh",
            collision_chunk: "collision/greybox/-2_-1.ccol",
        ),
        (
            coord: (-1, -1),
            zone_id: 0,
            root_entity_guid: "3073816c-08ed-4dee-bf6e-49593d7a3c71",
            mesh: "models/greybox/cell_-1_-1.mesh",
            collision_chunk: "collision/greybox/-1_-1.ccol",
        ),
        (
            coord: (0, -1),
            zone_id: 1,
            root_entity_guid: "cedfb781-d0cc-4445-a458-db7afa8b4bf5",
            mesh: "models/greybox/cell_0_-1.mesh",
            collision_chunk: "collision/greybox/0_-1.ccol",
        ),
        (
            coord: (1, -1),
            zone_id: 1,
            root_entity_guid: "b4b91184-97d7-4f6a-9e5f-ff894df28457",
            mesh: "models/greybox/cell_1_-1.mesh",
            collision_chunk: "collision/greybox/1_-1.ccol",
        ),
        (
            coord: (2, -1),
            zone_id: 1,
            root_entity_guid: "d77fb67d-addd-4f95-b26a-3bfb1487b1cf",
            mesh: "models/greybox/cell_2_-1.mesh",
            collision_chunk: "collision/greybox/2_-1.ccol",
        ),
        (
            coord: (3, -1),
            zone_id: 1,
            root_entity_guid: "84da50d7-89b1-4a35-877b-db2a0f49dc1f",
            mesh: "models/greybox/cell_3_-1.mesh",
            collision_chunk: "collision/greybox/3_-1.ccol",
        ),
        (
            coord: (-4, 0),
            zone_id: 2,
            root_entity_guid: "c3f1334c-a2ad-43f4-ae5a-e223244835b7",
            mesh: "models/greybox/cell_-4_0.mesh",
            collision_chunk: "collision/greybox/-4_0.ccol",
        ),
        (
            coord: (-3, 0),
            zone_id: 2,
            root_entity_guid: "5dc34514-abeb-4a04-b1df-27eea29762e8",
            mesh: "models/greybox/cell_-3_0.mesh",
            collision_chunk: "collision/greybox/-3_0.ccol",
        ),
        (
            coord: (-2, 0),
            zone_id: 2,
            root_entity_guid: "d57995ff-d302-428e-a4b9-d94dd2ed5ac7",
            mesh: "models/greybox/cell_-2_0.mesh",
            collision_chunk: "collision/greybox/-2_0.ccol",
        ),
        (
            coord: (-1, 0),
            zone_id: 2,
            root_entity_guid: "e8941f76-c494-42c6-98aa-ce9bd5a5a277",
            mesh: "models/greybox/cell_-1_0.mesh",
            collision_chunk: "collision/greybox/-1_0.ccol",
        ),
        (
            coord: (0, 0),
            zone_id: 3,
            root_entity_guid: "21962b34-61a9-49fe-8e90-93fc8b549885",
            mesh: "models/greybox/cell_0_0.mesh",
            collision_chunk: "collision/greybox/0_0.ccol",
        ),
        (
            coord: (1, 0),
            zone_id: 3,
            root_entity_guid: "b2a9035c-bf27-446f-8138-cc59bf0d9638",
            mesh: "models/greybox/cell_1_0.mesh",
            collision_chunk: "collision/greybox/1_0.ccol",
        ),
        (
            coord: (2, 0),
            zone_id: 3,
            root_entity_guid: "55287054-5390-4561-979e-4c43e207bb2b",
            mesh: "models/greybox/cell_2_0.mesh",
            collision_chunk: "collision/greybox/2_0.ccol",
        ),
        (
            coord: (3, 0),
            zone_id: 3,
            root_entity_guid: "19c7adad-2d39-4edf-825b-34a9868a6591",
            mesh: "models/greybox/cell_3_0.mesh",
            collision_chunk: "collision/greybox/3_0.ccol",
        ),
        (
            coord: (-4, 1),
            zone_id: 2,
            root_entity_guid: "e0c1ed5b-2c2d-4c7d-b84f-9d0bdaeed4e9",
            mesh: "models/greybox/cell_-4_1.mesh",
            collision_chunk: "collision/greybox/-4_1.ccol",
        ),
        (
            coord: (-3, 1),
            zone_id: 2,
            root_entity_guid: "4d2b919f-8974-4cde-98f5-2acbcef84de7",
            mesh: "models/greybox/cell_-3_1.mesh",
            collision_chunk: "collision/greybox/-3_1.ccol",
        ),
        (
            coord: (-2, 1),
            zone_id: 2,
            root_entity_guid: "a6058968-2884-44ed-856d-571d2b66445d",
            mesh: "models/greybox/cell_-2_1.mesh",
            collision_chunk: "collision/greybox/-2_1.ccol",
        ),
        (
            coord: (-1, 1),
            zone_id: 2,
            root_entity_guid: "992145a9-7af8-48d6-a29f-72b1568eb7f5",
            mesh: "models/greybox/cell_-1_1.mesh",
            collision_chunk: "collision/greybox/-1_1.ccol",
        ),
        (
            coord: (0, 1),
            zone_id: 3,
            root_entity_guid: "1d8dcffb-3cff-4e07-9dbb-69e226e47293",
            mesh: "models/greybox/cell_0_1.mesh",
            collision_chunk: "collision/greybox/0_1.ccol",
        ),
        (
            coord: (1, 1),
            zone_id: 3,
            root_entity_guid: "26ab8568-d667-408c-a19e-843c3853c0ff",
            mesh: "models/greybox/cell_1_1.mesh",
            collision_chunk: "collision/greybox/1_1.ccol",
        ),
        (
            coord: (2, 1),
            zone_id: 3,
            root_entity_guid: "bb634d64-0774-4740-aaa0-36159229ace3",
            mesh: "models/greybox/cell_2_1.mesh",
            collision_chunk: "collision/greybox/2_1.ccol",
        ),
        (
            coord: (3, 1),
            zone_id: 3,
            root_entity_guid: "ec5532c5-9b77-4a2f-9fcf-259a9ccef0a8",
            mesh: "models/greybox/cell_3_1.mesh",
            collision_chunk: "collision/greybox/3_1.ccol",
        ),
        (
            coord: (-4, 2),
            zone_id: 2,
            root_entity_guid: "b8e5e628-b306-44d7-a59f-c383201f968e",
            mesh: "models/greybox/cell_-4_2.mesh",
            collision_chunk: "collision/greybox/-4_2.ccol",
        ),
        (
            coord: (-3, 2),
            zone_id: 2,
            root_entity_guid: "1a3ef007-0c76-4f74-a9af-4c7c94168e28",
            mesh: "models/greybox/cell_-3_2.mesh",
            collision_chunk: "collision/greybox/-3_2.ccol",
        ),
        (
            coord: (-2, 2),
            zone_id: 2,
            root_entity_guid: "a76cb01c-e4b7-48f6-adc5-084555933dc3",
            mesh: "models/greybox/cell_-2_2.mesh",
            collision_chunk: "collision/greybox/-2_2.ccol",
        ),
        (
            coord: (-1, 2),
            zone_id: 2,
            root_entity_guid: "188719b3-c6ab-424c-ae47-75cb45036018",
            mesh: "models/greybox/cell_-1_2.mesh",
            collision_chunk: "collision/greybox/-1_2.ccol",
        ),
        (
            coord: (0, 2),
            zone_id: 3,
            root_entity_guid: "c05feb5f-66a1-4fa3-a7fe-30da68675d03",
            mesh: "models/greybox/cell_0_2.mesh",
            collision_chunk: "collision/greybox/0_2.ccol",
        ),
        (
            coord: (1, 2),
            zone_id: 3,
            root_entity_guid: "1afea065-45d9-4253-a277-38f84da96d31",
            mesh: "models/greybox/cell_1_2.mesh",
            collision_chunk: "collision/greybox/1_2.ccol",
        ),
        (
            coord: (2, 2),
            zone_id: 3,
            root_entity_guid: "601a4595-9dc4-422e-8e35-5297d7846aaa",
            mesh: "models/greybox/cell_2_2.mesh",
            collision_chunk: "collision/greybox/2_2.ccol",
        ),
        (
            coord: (3, 2),
            zone_id: 3,
            root_entity_guid: "3ee20d86-f588-4dfd-aeb3-84dde11e835d",
            mesh: "models/greybox/cell_3_2.mesh",
            collision_chunk: "collision/greybox/3_2.ccol",
        ),
        (
            coord: (-4, 3),
            zone_id: 2,
            root_entity_guid: "a28489ee-962b-438a-80de-d804cf4f9cab",
            mesh: "models/greybox/cell_-4_3.mesh",
            collision_chunk: "collision/greybox/-4_3.ccol",
        ),
        (
            coord: (-3, 3),
            zone_id: 2,
            root_entity_guid: "b33de4f7-d205-4597-b42e-a019f794af5a",
            mesh: "models/greybox/cell_-3_3.mesh",
            collision_chunk: "collision/greybox/-3_3.ccol",
        ),
        (
            coord: (-2, 3),
            zone_id: 2,
            root_entity_guid: "c5f1ebdf-3fc4-4011-bb6a-047ec89f103e",
            mesh: "models/greybox/cell_-2_3.mesh",
            collision_chunk: "collision/greybox/-2_3.ccol",
        ),
        (
            coord: (-1, 3),
            zone_id: 2,
            root_entity_guid: "1c35e350-f873-4829-9145-9399dc466886",
            mesh: "models/greybox/cell_-1_3.mesh",
            collision_chunk: "collision/greybox/-1_3.ccol",
        ),
        (
            coord: (0, 3),
            zone_id: 3,
            root_entity_guid: "003924b3-9f51-4abc-8d79-2d1250d8458a",
            mesh: "models/greybox/cell_0_3.mesh",
            collision_chunk: "collision/greybox/0_3.ccol",
        ),
        (
            coord: (1, 3),
            zone_id: 3,
            root_entity_guid: "e90973a7-ab1b-45d8-9878-b0f14e8e903f",
            mesh: "models/greybox/cell_1_3.mesh",
            collision_chunk: "collision/greybox/1_3.ccol",
        ),
        (
            coord: (2, 3),
            zone_id: 3,
            root_entity_guid: "6dbb4d1e-95e9-47a7-94e2-4fb6e7f9cac6",
            mesh: "models/greybox/cell_2_3.mesh",
            collision_chunk: "collision/greybox/2_3.ccol",
        ),
        (
            coord: (3, 3),
            zone_id: 3,
            root_entity_guid: "8b446c3a-5d26-468c-96a7-d7d8659c007f",
            mesh: "models/greybox/cell_3_3.mesh",
            collision_chunk: "collision/greybox/3_3.ccol",
        ),
    ],
    zones: [
        (
            id: 0,
            cells: [
                (-4, -4),
                (-3, -4),
                (-2, -4),
                (-1, -4),
                (-4, -3),
                (-3, -3),
                (-2, -3),
                (-1, -3),
                (-4, -2),
                (-3, -2),
                (-2, -2),
                (-1, -2),
                (-4, -1),
                (-3, -1),
                (-2, -1),
                (-1, -1),
            ],
        ),
        (
            id: 1,
            cells: [
                (0, -4),
                (1, -4),
                (2, -4),
                (3, -4),
                (0, -3),
                (1, -3),
                (2, -3),
                (3, -3),
                (0, -2),
                (1, -2),
                (2, -2),
                (3, -2),
                (0, -1),
                (1, -1),
                (2, -1),
                (3, -1),
            ],
        ),
        (
            id: 2,
            cells: [
                (-4, 0),
                (-3, 0),
                (-2, 0),
                (-1, 0),
                (-4, 1),
                (-3, 1),
                (-2, 1),
                (-1, 1),
                (-4, 2),
                (-3, 2),
                (-2, 2),
                (-1, 2),
                (-4, 3),
                (-3, 3),
                (-2, 3),
                (-1, 3),
            ],
        ),
        (
            id: 3,
            cells: [
                (0, 0),
                (1, 0),
                (2, 0),
                (3, 0),
                (0, 1),
                (1, 1),
                (2, 1),
                (3, 1),
                (0, 2),
                (1, 2),
                (2, 2),
                (3, 2),
                (0, 3),
                (1, 3),
                (2, 3),
                (3, 3),
            ],
        ),
    ],
    spawn_points: [
        (
            name: "default_spawn",
            position: (0.0, 0.0, 8.0),
        ),
        (
            name: "route_north",
            position: (0.0, 152.0, 8.0),
        ),
        (
            name: "route_west",
            position: (-152.0, 0.0, 7.0),
        ),
        (
            name: "gym_slopes",
            position: (84.0, 96.0, 9.0),
        ),
        (
            name: "gym_steps",
            position: (84.0, 72.0, 9.0),
        ),
        (
            name: "gym_gaps",
            position: (90.0, 48.0, 10.0),
        ),
        (
            name: "gym_gap_sloped",
            position: (90.0, 40.0, 10.0),
        ),
        (
            name: "gym_tower",
            position: (84.0, 8.0, 9.0),
        ),
        (
            name: "gym_corners",
            position: (144.0, 20.0, 9.0),
        ),
        (
            name: "gym_seam_cell",
            position: (121.0, 32.0, 9.0),
        ),
        (
            name: "gym_seam_zone",
            position: (100.0, -6.0, 9.0),
        ),
    ],
)